body {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 70px;
  font-family: monospace;
  font-weight: bolder;
  margin-top: 200px;
  margin-left: -15px;
  letter-spacing: -15px;
}

.F:hover {
  color: #98c379;
}

.A:hover {
  color: #56b6c2;
}

.R:hover {
  color: #c6ad00;
}

.K:hover {
  color: #b400b9;
}

.L:hover {
  color: #c62d48;
}

.E:hover {
  color: #98c379;
}

.search-bar {
  margin-top: 25px;
  width: 400px;
  height: 30px;
  padding: 1px 10px;
  background-color: white;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
  font-size: 14px;
}

.search-bar:focus {
  border: 1px solid #07682c;
  outline: 0;
}

.submit-button {
  margin-top: 25px;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #7795f8;
  text-decoration: none;
  transition: all 0.15s ease;
  border: 0;
}

.submit-button:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.submit-button:focus {
  outline: 0;
}

.submit-button:active {
  color: #7795f8;
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
